:root {
  --main-font: "Barlow", sans-serif;

  --accent-red: rgb(80, 16, 1);
  --accent-orange: rgb(118, 44, 5);
  --dark-grey: rgb(39, 35, 35);
  --mid-grey: rgb(94, 84, 82);
  --light-beige: rgb(217, 197, 178);
}

body {
  background-color: var(--dark-grey);
  color: white;
}

a img {
  height: 32px;
  width: auto;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-card {
  height: 15rem;
  width: 12rem;
  border-radius: 1rem;
  background-color: var(--mid-grey);
}
